<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="append"></div>
		<template id="temp">
			<div>
				<div @click="click(1,$index,$event)">{{templateData.title}}</div>
				<div>{{templateData.content}}</div>
				<div _v-for="i in templateData.for" :class="i">
					{{i}}
					<div _v-for="n in templateData.for" :class="2">{{n}}</div>
				</div>
				<my-tem></my-tem>
			</div>
		</template>
		<script src="./../../dist/js/view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var v = new View({
				el:"temp",
				methods:{
					click:function(num,index,event){
						console.log(num,index,event);
					}
				},
				components:{
					'my-tem':`
						<div _v-for="i in {{templateData.for}}">{{i}}</div>
					`
				}
			});
			var data = [
				{
					title:'标题1',
					content:'内容1',
					for:[1,2,3]
				},
				{
					title:'标题2',
					content:'内容2',
					for:[4,5,6]
				},
				{
					title:'标题3',
					content:'内容3',
					for:[7,8,9]
				},
			]
			v.createTemplate(data,'append');
		</script>
	</body>
</html>
