<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
	</head>
	<body>
		<div id="app">
			{{show}}
			<div _v-for="i,l in arr" ><!--_v-show="show" style="display: none;"-->
				{{i}}
				<div _v-for="n,k in i" :class="n">
					key:{{k}} - value:{{n}} - {{$index}}
					<div _v-if="n?true:false">
						_v-if:{{n + 'adasda'}}<br />
						item:{{n}}<br />
						item*12:{{parseInt(n * 12)}}<br />
						item:{{n}}<br />
						temp:<my-temp></my-temp>
					</div>
				</div>
			</div>
		</div>
		
		<template id="temp">
			<span>{{parseInt(n * 20)}}</span>
		</template>
		
		<script src="./../../dist/js/view.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="./../../dist/js/vue.js" type="text/javascript" charset="utf-8"></script>-->
		<script type="text/javascript">
			var time = new Date();
			var arr = {};
			for(var i = 0;i<1;i++){
				arr[i] = [
					Math.random(),
					Math.random(),
					Math.random(),
				]
			}	
			
			var app = new View({
				el:"app",
				data:{
					arr:arr,
					show:false,
					n:1
				},
				ready:function(){
					this.data.show = true;
				},
				components:{
					'my-temp':'temp'
				}
			});
			document.title = new Date()-time;
		</script>
	</body>
</html>
