<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
	</head>
	<body>
		<div id="app">
			{{show}}
			<div _v-for="i in arr" _v-show="show" style="display: none;">
				<div _v-for="n,k in i">
					{{n}}-{{k}}-{{n}}-{{k}}-{{n}}-{{k}}
				</div>
			</div>
		</div>
		<script src="./../../dist/js/view.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="./../../dist/js/vue.js" type="text/javascript" charset="utf-8"></script>-->
		<script type="text/javascript">
			var time = new Date();
			var arr = {};
			for(var i = 0;i<1000;i++){
				arr[i] = [
					Math.random(),
					Math.random(),
					Math.random(),
				]
			}
			
			var app = new View({
				el:"app",
				data:{
					arr:arr,
					show:false
				},
				ready:function(){
					this.data.show = true;
				}
			});
			document.title = new Date()-time;
		</script>
	</body>
</html>
