<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.active {
				background-color: azure;
			}
			
			.active1 {
				color: red;
			}
			
			.active2 {
				border: 1px solid blue;
			}
		</style>
	</head>

	<body>
		<div class="class1" id="id1">
			<span :class="active.a+' '+active1+' '+active2">{{span.a | upper}}{{span1.b}} {{span2.c}} - {{span3.d}}</span>
			<div :class="active.a" _v-show="isShow">
				<span @click="event($event,1)">{{span3.c | html}}</span> 123
			</div>
			<my-com></my-com>
			<my-com2></my-com2>
			<ul _v-show="isShow">
				<li _v-if="ifStatus.if1">111</li>
				<li>true</li>
				<li _v-elseif="ifStatus.if2">222</li>
				<li _v-elseif="ifStatus.if3">333</li>
				<li _v-else>444</li>
			</ul>
			<div>{{input.val2}}</div>
			<div>{{input.val.b}}</div>
			<div>{{input.val.a}}</div>
			<input type="text" _v-model="input.val" :value="input.val" />
			<div>{{arr[1].a}}</div>
			<div _v-for="i in arr" _v-if="isShow">
				<div _v-for="m in i.a">
					{{m}}
				</div>
			</div>
			<div _v-for="i in arr1">
				{{i}}-{{isShow}}
			</div>
		</div>

		<div id="tempWrap">

		</div>

		<template id="app">
			<div>
				{{span1.b}}
			</div>
		</template>

		<template id="temp">
			<div :class="templateData.class" @click="event($event,1)">
				{{templateData.data}}
				<!--<div _v-for="i in {{arr}}">
					<div _v-for="n in {{i}}">
						<div _v-for="m in {{n}}">
							{{m}}
						</div>
					</div>	
				</div>-->
			</div>
		</template>

		<script id="sc" src="./../../dist/js/view.js" type="text/javascript" charset="utf-8"></script>
		<script>
			/*var ul = {
																tagName: "div",
																props: {
																	id: "id1",
																	class: "class1"
																},
																childrens: [{
																	tagName: "a",
																	props: {
																		id: "id2",
																		class: "class2"
																	},
																	childrens: ['123',{
																		tagName:'span',
																		props:{
																			'data-id':123
																		},
																		childrens:['span']
																	}]
																}, '123']
															}*/

			let div = document.querySelector("#id1");
			let span = document.querySelector(".active>span");
			//			//虚拟dom
			//			let element = new Element();
			//			//创建旧树
			//			let oldTree = element.resolve(div);
			////			console.log(oldTree);
			////			console.log(element.elementList);
			//			//修改内容
			//			/*div.setAttribute('class','class2');
			//			div.setAttribute('aaa','data1');
			//			div.querySelector('span').innerHTML = 123;
			//			div.querySelector('span').setAttribute('data-span','1212312312312asdasdas3');
			//			span.innerHTML = 'asdasdsadasd';*/
			//			//构建新树
			//			let newTree = element.resolve(div);
			//			//修改的差值
			//			var diff = element.diff(oldTree,newTree);

			//observer
			var newArr = [{
				a: [1, 2, 3]
			}, {
				a: [4, 5, 6]
			}, {
				a: [7, 8, 9]
			}, {
				a: [10, 11, 12]
			}]

			let data = {
				span: {
					a: 'aaaaaa'
				},
				span1: {
					b: 2
				},
				span2: {
					c: 3
				},
				span3: {
					d: 4,
					c: 2
				},
				/*{{active.a}}-{{active1}}-{{active2}}*/
				active: {
					a: 'active'
				},
				active1: 'active1',
				active2: 'active2',
				isShow: true,
				ifStatus: {
					if1: false,
					if2: true,
					if3: true
				},
				input: {
					val2: 22222,
					val: {
						a: 1,
						b: 2
					}
				},
				arr: newArr,
				arr1:[]
			}

			let newDiv = document.createElement('div');
			newDiv.innerHTML = 'newELement0';
			let newDiv1 = document.createElement('div');
			newDiv1.innerHTML = 'newELement2';

			var v = new View({
				el: "id1",
				data: data,
				components: {
					'my-com': `
						<div>{{span.a}}</div>
					`,
					'my-com2': "app"
				},
				watch: {
					'active.a': function(newVal) {
						console.log('新值：' + newVal);
					}
				},
				methods: {
					event: function(event, arg) {
						console.log(event, arg);
					}
				},
				ready: function() {
					/*this.data.arr[1].a = [123, 456, 789, 123123123, 123123, 123123123]
					this.data.arr[0].a = [4,7,8,9];*/
					this.data.arr1 = [1,2,3,4,5,6,7,8,9,0];
					this.data.arr1 = [1,2,3,4,5];
					this.data.arr1 = [1,2,3,4,5,6,7,8];
				}
			});

			var v1 = new View({
				el: "temp",
				data: {
					arr: [1, 2, 3]
				},
				methods: {
					event: function(event, arg) {
						console.log(event, arg);
					}
				}
			});

			var data1 = [{
				data: 1,
				class: 'class1',
				arr: [
					1, 2, 3, 4
				]
			}, {
				data: 2,
				class: 'class2',
				arr: [
					1, 2, 3, 4
				]
			}, {
				data: 3,
				class: 'class3',
				arr: [
					1, 2, 3, 4
				]
			}, {
				data: 4,
				class: 'class4',
				arr: [
					1, 2, 3, 4
				]
			}];

			//			v1.createTemplate(data1,'tempWrap');

			console.log(v);
			console.log(v1);
		</script>
	</body>

</html>