<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>

	<body>
		<div id="app">
			<!--<div :class="true ? data_1+data_2['data__2'][0] + data_2['data__2'][1] + parseInt('2')+1 + '':''">
				{{data_1 + 1 + 'aaaa' + data_2.data__2[0]}}
			</div>-->
			<!--<div _v-if="!(ifStatus[0])">
				这是if状态0
			</div>
			<div _v-elseif="!ifStatus[1]">
				这是if状态1
			</div>
			<div _v-else="!(ifStatus[2])">
				这是if状态2
			</div>
			
			<div _v-if="!(ifStatus[0])">
				这是if状态3
			</div>
			<div _v-elseif="!ifStatus[1]">
				这是if状态4
			</div>
			<div _v-else="!(ifStatus[2])">
				这是if状态5
			</div>
			
			<div _v-show="!(ifStatus[3])">
				这是show内容
			</div>-->
			<!--<div _v-for='i in ifStatus[2]'>
				{{i}}
				<div _v-for='m in ifStatus[2]'>
					{{m}}
				</div>
			</div>-->
			<div _v-for="i in data">
				<div _v-for="n in i">
					{{n}}
				</div>
			</div>
		</div>
		
		<script src="dist/js/view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var time = new Date();
			
			var data = [];
			
			for(var i = 0;i<2000;i++){
				data.push([
					Math.random(),
					Math.random(),
					Math.random()
				])
			}
			
			console.log(new Date()-time);

			var v = new View({
				el: "app",
				data: {
					data:data
				}
			});
		</script>
	</body>

</html>