<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="app">
			<div _v-show="{{              isShow               }}" style="display: none;">
				<div :class="View.filter.length({{ i }} + {{ i }})" _v-show="{{        isShow               }}">
					{{ i }} - {{ i }}
					<span>
						{{ i }} - {{  i   }}
					</span>
				</div>
				<a href="" _v-if="{{         ifStatus.0}}">1</a>
				<a href="" _v-elseif="{{             ifStatus.1}}">2</a>
				<a href="" _v-else="{{ifStatus.2}}">3</a>
				<div>{{val}}</div>

				<div _v-for="m in {{           input.val          }}" :class="{{      $index    }}+{{    $index    }}">
					{{m}} --- {{$index}}
					<!--<div>111</div>-->
				</div>
				<div>{{        input.val                 }}</div>
				<input type="text" _v-model="{{       input.val        }}" :value="{{input.val}}"/>
				<div _v-for="i in 5" :class="{{        $index         }}" @click="getIndex($index)">
					{{   i    }} --- {{       $index       }}
					<div _v-for="n in 2" :class="{{$index}}">
						{{        n         }} --- {{                   $index               }}
					</div>
				</div>
				{{element | html}}
			</div>
		</div>
		
		<div id="app-1">
			
		</div>
		
		<template id="temp">
			<div @click="getIndex($index)" :class="parseInt({{$index}}) + 1">
				{{templateData.val}} - {{$index}}
				<my-comp></my-comp>
			</div>
		</template>
		
		<template id="app--1">
			<div>{{i}}</div>
		</template>
		
		<script src="dist/js/view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var time = new Date();
			
			data = [
				{val:1},
				{val:2},
				{val:3},
				{val:4},
				{val:5}
			];
			data_1 ={
				0:{val:1},
				1:{val:2},
				2:{val:3},
				3:{val:4},
				4:{val:5}
			}
			
			var _v = new View({
				el:"temp",
				data:{
					i:1
				},
				methods:{
					getIndex:function(index){
						console.log(index);
					}
				},
				components:{
					'my-comp':'app--1'
				}
			});
			
			_v.createTemplate(data_1,document.getElementById('app-1'));

			var v = new View({
				el: "app",
				data: {
					isShow: true,
					i: 1,
					isShow: true,
					ifStatus: [{
							isShow: false,
							value: 1
						},
						{
							isShow: true,
							value: 2
						},
						{
							isShow: false,
							value: 3
						}
					],
					testFor: 5,
					input: {
						val: ''
					},
					val: '测试过滤器',
					element: "<div>123123456465798798</div>"
				},
				ready: function() {
					this.data.isShow = true;
				},
				methods:{
					getIndex(index){
						console.log(index);
					}
				}
			});
			
			console.log(v);

			function deepCopy(p, c) {
				//如果拷贝的对象是dom节点
				var c = c || (p instanceof Array ? [] : {});
				for(var i in p) {　　　　　　
					if(typeof p[i] === 'object' && !(p[i].nodeType)) {　　　　　　
						c[i] = (p[i].constructor === Array) ? [] : {};　　　　　　　　
						deepCopy(p[i], c[i]);　　　　　　
					} else {
						c[i] = p[i];
					}　　　　
				}　　　
				return c;
			}

			var arr = [{
					isShow: false,
					value: 1
				},
				{
					isShow: true,
					value: 2
				},
				{
					isShow: false,
					value: 3
				},
				{
					isShow: true,
					value: 4
				},
				{
					isShow: false,
					value: 5
				},
				{
					isShow: true,
					value: 6
				},
			]

			//			setInterval(()=>{
			//				var arr = deepCopy(v.data.ifStatus);
			//				arr.push(1);
			//				v.data.ifStatus = arr;
			//			},10);

			console.log(new Date() - time);
		</script>
	</body>

</html>